table {
   margin: 0 auto;
}
td {
   padding: 0;
   line-height: 0;
   width: 30px;
}
table button {
   width: 100%;   
   margin: 0;
   height: 20px;
   border: 2px outset rgb(221, 221, 221);
   line-height: 13px;
}
.result {
   height: 42px;     
}
.calc-form {
   text-align: center;
}


   
